.result__content {
    margin: 0 auto;
    padding: 60px 15px;
    max-width: 1230px;
}

.result {
    text-align: center;
}

.result__text {
    color: black;
}

.answer-table {
    border: 1px solid #ddd;
    margin: 20px;
}

.answer-table__inner {
    width: 100%;
}

.answer-table__header {
    padding: 15px;
    width: 20%;
    border-bottom: 1px solid #ddd;
    background: #eee;
    font-weight: bold;
}

.answer-table__text1 {
    color: red;
    font-weight: bold;
}

.answer-table__text1, .answer-table__text {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.answer-table__row:last-child .answer-table__header,
.answer-table__row:last-child .answer-table__text {
    border-bottom-width: 0;
}

.result-form__button {
    width: 550px;
    margin: 0 auto;
}
.result-form__button-submit {
    padding: 10px;
    margin-top: 40px;
    width: 550px;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
}